extends templates/template
block main
    h1(style="color:crimson") HELLO WORLD !!
    ul
      li: a(href="/lightbox.html") Lightbox 
      li: a(href="/animation-scroll.html") animation-scroll
        
